  
@font-face {font-family: 'Epura-Book';src: url('../fonts/3B1CDA_0_0.eot');src: url('../fonts/3B1CDA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_0_0.woff2') format('woff2'),url('../fonts/3B1CDA_0_0.woff') format('woff'),url('../fonts/3B1CDA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-Regular';src: url('../fonts/3B1CDA_1_0.eot');src: url('../fonts/3B1CDA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_1_0.woff2') format('woff2'),url('../fonts/3B1CDA_1_0.woff') format('woff'),url('../fonts/3B1CDA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-Light';src: url('../fonts/3B1CDA_2_0.eot');src: url('../fonts/3B1CDA_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_2_0.woff2') format('woff2'),url('../fonts/3B1CDA_2_0.woff') format('woff'),url('../fonts/3B1CDA_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-SemiBoldItalic';src: url('../fonts/3B1CDA_3_0.eot');src: url('../fonts/3B1CDA_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_3_0.woff2') format('woff2'),url('../fonts/3B1CDA_3_0.woff') format('woff'),url('../fonts/3B1CDA_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-Medium';src: url('../fonts/3B1CDA_4_0.eot');src: url('../fonts/3B1CDA_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_4_0.woff2') format('woff2'),url('../fonts/3B1CDA_4_0.woff') format('woff'),url('../fonts/3B1CDA_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-ExtraBoldItalic';src: url('../fonts/3B1CDA_5_0.eot');src: url('../fonts/3B1CDA_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_5_0.woff2') format('woff2'),url('../fonts/3B1CDA_5_0.woff') format('woff'),url('../fonts/3B1CDA_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-BoldItalic';src: url('../fonts/3B1CDA_6_0.eot');src: url('../fonts/3B1CDA_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_6_0.woff2') format('woff2'),url('../fonts/3B1CDA_6_0.woff') format('woff'),url('../fonts/3B1CDA_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-BooktItalic';src: url('../fonts/3B1CDA_7_0.eot');src: url('../fonts/3B1CDA_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_7_0.woff2') format('woff2'),url('../fonts/3B1CDA_7_0.woff') format('woff'),url('../fonts/3B1CDA_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-ExtraLight';src: url('../fonts/3B1CDA_8_0.eot');src: url('../fonts/3B1CDA_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_8_0.woff2') format('woff2'),url('../fonts/3B1CDA_8_0.woff') format('woff'),url('../fonts/3B1CDA_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-ExtraLightItalic';src: url('../fonts/3B1CDA_9_0.eot');src: url('../fonts/3B1CDA_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_9_0.woff2') format('woff2'),url('../fonts/3B1CDA_9_0.woff') format('woff'),url('../fonts/3B1CDA_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-MediumItalic';src: url('../fonts/3B1CDA_A_0.eot');src: url('../fonts/3B1CDA_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_A_0.woff2') format('woff2'),url('../fonts/3B1CDA_A_0.woff') format('woff'),url('../fonts/3B1CDA_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-LightItalic';src: url('../fonts/3B1CDA_B_0.eot');src: url('../fonts/3B1CDA_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_B_0.woff2') format('woff2'),url('../fonts/3B1CDA_B_0.woff') format('woff'),url('../fonts/3B1CDA_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-RegularItalic';src: url('../fonts/3B1CDA_C_0.eot');src: url('../fonts/3B1CDA_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_C_0.woff2') format('woff2'),url('../fonts/3B1CDA_C_0.woff') format('woff'),url('../fonts/3B1CDA_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-SemiBold';src: url('../fonts/3B1CDA_D_0.eot');src: url('../fonts/3B1CDA_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_D_0.woff2') format('woff2'),url('../fonts/3B1CDA_D_0.woff') format('woff'),url('../fonts/3B1CDA_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-ExtraBold';src: url('../fonts/3B1CDA_E_0.eot');src: url('../fonts/3B1CDA_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_E_0.woff2') format('woff2'),url('../fonts/3B1CDA_E_0.woff') format('woff'),url('../fonts/3B1CDA_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Epura-Bold';src: url('../fonts/3B1CDA_F_0.eot');src: url('../fonts/3B1CDA_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3B1CDA_F_0.woff2') format('woff2'),url('../fonts/3B1CDA_F_0.woff') format('woff'),url('../fonts/3B1CDA_F_0.ttf') format('truetype');}

@font-face {font-family: 'Icetek';src: url("../fonts/iceGX.ttf") format('truetype'); font-display: block;}

@font-face {font-family: 'Icetek-Full';src: url("../fonts/Icetek_newGX.ttf") format('truetype'); font-display: block;}
